body 
{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #c9c9e8;
}

h1 
{
  text-align: center;
}

.image-upload 
{
  text-align: center;
  margin-bottom: 20px;
}

#image-preview, #modified-preview 
{
  text-align: left;
  margin-bottom: 20px;
}

#accessibility-controls {
  margin-bottom: 20px;
}

#download-btn {
  display: block;
  margin: 0 auto;
}
